body {
    font-family: "Source Serif 4", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 h2 {
    font-weight: bold
}

.italicText {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.description {
    font-size: 1.1rem;
    text-align: justify;
}